<html>

<head></head>

<body>
    <div class="col-sm-12 col-md-12 col-lg-12 mainDiv">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <select ng-model="selectedCity" ng-change="fetchBankDetails()" ng-options="x for x in cityNames">
                </select>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">Search
                <input class="form-control ng-pristine ng-valid" ng-model="searchKeyword" type="text"> </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <table class="table displayDetails">
                <tr>
                    <th ifsc>ifsc
                    </th>
                    <th id>bank_id
                    </th>
                    <th name>bank_name
                    </th>
                    <th branch>branch
                    </th>
                    <th address>address
                    </th>
                    <th city>city
                    </th>
                    <th district>district
                    </th>
                    <th state>state
                    </th>
                </tr>
                <tr ng-repeat="banks in bankDetails | filter: searchKeyword ">
                    <td>{{banks.ifsc}}
                    </td>
                    <td>{{banks.bank_id}}
                    </td>
                    <td>{{banks.bank_name}}
                    </td>
                    <td>{{banks.branch}}
                    </td>
                    <td>{{banks.address}}
                    </td>
                    <td>{{banks.city}}
                    </td>
                    <td>{{banks.district}}
                    </td>
                    <td>{{banks.state}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>
</div>